<!DOCTYPE html>
<html lang="en" >

<head>
       <meta charset="UTF-8">
    <title>Farmers Market</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container">
    <h2 class="text-center text-white m-3">All Products</h2>
    <div class='row mb-4 d-xl-flex text-center justify-content-around'>
        <div  class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2>Product Types:
            </h2>
            <div>
                <table>
                    <tr th:each="type: ${allProductTypes}">
                        <div>
                            <a class="card-link d-inline-block" th:href="@{/offers/all/{path}(path=${type})}">
                                <th:block th:text="${type}"></th:block>
                            </a>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
             <footer> </footer>
    </div>
</div>
</body>
</html>
